.chat-side__groups-list
  = link_to root_path do
    .chat-side__group
      .chat-side__group-name
        sampleグループ1
      .chat-side__group-message
        メッセージはありません。

  = link_to root_path do
    .chat-side__group
      .chat-side__group-name
        sampleグループ2
      .chat-side__group-message
        メッセージはありません。

