.nitification{
  .nitice{
    color:$white;
    background-color:$light-blue;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}
